<!DOCTYPE html>
<html lang="en" data-theme="cyberpunk">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - Find Them</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.15.3/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    @if(session.has('user'))
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <a class="btn btn-ghost normal-case text-xl">Find Them</a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal p-0">
          <li><a href="/">Dashboard</a></li>
          @if(session.get('user').data.is_admin == true)
          <li><a href="/pengguna">Pengguna</a></li>
          <li><a href="/template">Template</a></li>
          @end
        </ul>
      </div>
      <div class="navbar-end">
        <a class="btn" href="/logout">Keluar disini</a>
      </div>
    </div>
    @end
    <div class="container mx-auto ">
      @!section('content')
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      function copy(kode) {
        var copyText = document.getElementById(kode);
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");
        alert("Kode berhasil disalin!");
      }
    </script>
  </body>
</html>
